.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
 .fake-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    height: 40px;
  }
 #fakeContent {
    height: 1px;
    height: 1px;
  }

.table th, .table td {
  min-width: 50px;
  max-width: 100px;
  overflow: hidden;  /* or auto if you want to make it scrollable */
  text-overflow: ellipsis;
}

.table {
  table-layout: fixed;
}
select.form-control {
    appearance: auto;     /* For modern browsers */
    -webkit-appearance: menulist;  /* For older Webkit browsers */
    -moz-appearance: menulist;     /* For Firefox */
    background-color: #fff;
    background-image: none;
    border: 1px solid #ced4da;
    color: #495057;
    padding-right: 1rem;  /* Adjust as needed */
}