<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Emit Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='custom-css.css') }}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.6.0/dist/socket.io.min.js"></script>
</head>

<body class="container-fluid no-padding">
        <!-- Navbar with Home, Site Data and Logout -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="#">Lord of Links</a> <!-- You can replace "BrandName" with your actual brand or site name -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/site-manager">Site Data</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-danger" href="/logout">Logout</a><!-- Styled as a button but functions as a link -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container">


    <form id="uploadForm" enctype="multipart/form-data" class="mb-4">
        <div class="mb-3">
            <label for="excel_file" class="form-label">Select an Excel file</label>
            <input type="file" class="form-control" name="excel_file" id="excel_file">
            <input type="checkbox" name="use_images" id="use_images" value="True">
            <label for="use_images">Use Images</label>
        </div>
        <button type="submit" id="startProcess" class="btn btn-primary">Start Process</button>
    </form>

    <a href="/download_excel" download="data.xlsx" class="btn btn-secondary mb-4">Download Excel</a>
    <a href="/matched_excel" download="matched_data.xlsx" class="btn btn-secondary mb-4">Download Matched Report</a>
    <a href="/uploaded_excel" download="matched_data.xlsx" class="btn btn-secondary mb-4">Download Uploaed Excel</a>
    <a onclick="stopProcessing()" class="btn btn-danger mb-4">Stop The Process</a>

<!--    <button onclick="stopProcessing()">Stop Processing</button>-->




    <h2 class="text-center">Link Building Update</h2>
    <div id="tableContainer" class="table-responsive">
        <table id="dataTable" class="table table-info table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Anchor</th>
                    <th>Linking URL</th>
                    <th>Topic</th>
                    <th>Live URL</th>
                    <th>Live URL</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be added here dynamically -->
            </tbody>
        </table>
    </div>
</div>

<div id="confirmationMessage" class="alert alert-info mt-4" role="alert" style="display:none;">
        <!-- Confirmation messages will be shown here -->
</div>


<script>
function stopProcessing() {
    // Use AJAX to send a POST request to the /stop_processing route
    fetch('/stop_processing', { method: 'POST' })
        .then(response => response.json())
        .then(data => alert(data.message))
        .catch(error => console.error('Error:', error));
}
</script>

<script>
        // Handle the form submission
        document.getElementById("uploadForm").addEventListener("submit", function(e) {
            e.preventDefault();

            var formData = new FormData(this);

            fetch('/start_emit', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                console.log(data);
            });
        });

        // Setup socket.io connection
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Listen for the 'update' event from the server and display the message
        socket.on('update', function(data) {
               // Handle data update
            if(data.data) {
                var dataJSON = JSON.parse(data.data);
                var tableBody = document.querySelector('#dataTable tbody');

                // Clear the existing table rows
                tableBody.innerHTML = '';

                // Iterate through the list of data and add rows to the table
                dataJSON.forEach(function(dataItem) {
                    var row = document.createElement('tr');

                    // Define the columns and their values
                    var columns = ['id', 'anchor', 'linking_url', 'topic', 'live_url', 'Host_site'];

                    columns.forEach(function(column) {
                        var cell = document.createElement('td');
                        cell.textContent = dataItem[column];
                        row.appendChild(cell);
                    });

                    tableBody.appendChild(row);
                });
            }

            // Handle completion message
            if(data.message) {
                const messageDiv = document.getElementById('confirmationMessage');
                messageDiv.innerHTML = data.message;
            }

        });

    </script>
<!-- Bootstrap JS, Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>
